*target*
*node_modules*
*.jar
*.war
*.ear
*.class

# yarn
yarn.lock

# eclipse specific git ignore
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.factorypath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# STS (Spring Tool Suite)
.springBeans

#Clover
.clover/

# IntelliJ
.idea
*.iml

# yarn specific
**/src/main/frontend/dist/**

# LEGO
lego_conf
fake-pom.xml
cachepaascli.yml
info.yml
info.before_check.yml
info.after_check.yml
mergedValidations.yml
databaseChanges*.yml
databaseChanges.json
databaseChangesQueries.txt
users.properties
database.lock
Dockerfile
jmeter-repo
